ul {
    list-style-type: none;
    padding-left: initial;
}

/* Horizontal rule */

hr {
    color: #fff;
}

/* Headers */

h1, h2 {
    color: #fff;
}

h3 {
    margin-top: 10px;
    color: #fff;
}

/* Labels */

label {
    color: #fff;
}

/* Icons */

i {
    color: #fff;
}

/* Paragraphs */

p {
    color: #fff;
}

/* Anchor */

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #0a58ca;
}

/* Body styling */

.main-body {
    background-color: #0a4b6c;
}

/* Review main image */

.review-image {
    margin: 20px 0 10px;
}

/* Card styling */

.card {
    background-color: #0a4b6c;
    border: 1px solid rgba(223, 215, 215, 0.125)
}

/* Navbar styling */

.navbar {
    background-color: #1872d2;
    margin-bottom: 10px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    height: 30rem;
}

/* Styling for article and review details page */

.article-title, 
.review-title {
    margin-top: 20%;
    margin-left: 5%;
}

.article-subtitle,
.review-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #1872d2;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1872d2;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* img,
svg {
    vertical-align: middle;
    position: relative;
    top: -16rem;
} */
/* Sign-Up button styling */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Like button styling */

.btn-like {
    color: #0e20e0;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #0e20e0;
    background: transparent;
    border: none;
}

/* Release info styling */

.release-info {
    margin-bottom: 5px;
}

/* Masthead text responsive styling */

/* @media (min-width: 1000px)
.col-md-6 {
    flex: 0 0 auto;
    width : 50%;
} */
/* Masthead image responsive styling */

/* .d-md-block {
    display: block !important;
} */

@media only screen and (max-width: 768px) {
.release-info {
    text-align: center;
}
}