.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    height: 30rem;
}

/* Styling for article details page */

.article-title {
    margin-top: 20%;
    margin-left: 5%;
}

.article-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Sign-Up button styling */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Like button styling */

.btn-like {
    color: #0e20e0;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #0e20e0;
    background: transparent;
    border: none;
}
