{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Welcome banner Column -->
        <div class="col-12 mt-2 left">
            <div class="row">
                <div class="col-md-9">
                    <div class="welcome-card card mb-9">
                        <h2 class="card-header">Welcome to GamesGuide</h2>
                        <div class="card-body">
                            <div class="image-container">
                                {% load static %}
                                <img class="img-fluid rounded-img" src="{% static 'homepage-gaming-image.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Top releases of the month column -->
                <div class="col-md-3">
                    <div class="card text-white bg-secondary mb-3">
                        <h2 class="card-header text-center">Hottest Releases of the month</h2>
                        <div class="card-body">
                        <ul>
                                {% for release in release_list %}
                                <li class="d-flex justify-content-between align-items-center">
                                        {{ release.name }}
                                        {{ release.release_date }}
                                {% if release.platform == "Playstation" %}
                                        <span class="badge rounded-pill bg-primary">{{ release.platform }}</span>
                                {% elif release.platform == "Xbox" %}
                                        <span class="badge rounded-pill bg-success">{{ release.platform }}</span>
                                {% elif release.platform == "Nintendo" %}
                                <span class="badge rounded-pill bg-danger">{{ release.platform }}</span>
                                {% else %}
                                        <span class="badge rounded-pill bg-warning text-dark">{{ release.platform }}</span>
                                {% endif %}
                                </li>
                                <hr>
                                <!-- Only allows an admin to edit and delete releases -->
                                {% if user.is_superuser %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                    href="{% url 'edit_release' release.slug %}">Edit
                                    release</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                    href="{% url 'delete_release' release.slug %}">Delete
                                    release</a>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article list column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="img-fluid rounded-img" src="">
                                {% else %}
                                <img class="img-fluid rounded-img" src=" {{ article.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'article_detail' article.slug %}" class="">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text h6">{{ article.created_on}} <i class="far fa-thumbs-up"></i>
                                {{ article.number_of_likes }}</p>
                            <!-- Only allows an admin to edit and delete articles -->
                            {% if user.is_superuser %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                    href="{% url 'update_article' article.slug %}">Edit
                                    article</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                    href="{% url 'delete_article' article.slug %}">Delete
                                    article</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{%endblock%}