{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Welcome banner Column -->
        <div class="col-12 mt-2 left">
            <div class="row">
                <div class="col-md-9">
                    <div class="card mb-9">
                        <div class="card-body">
                            <div class="image-container">
                                <h2 class="card-title">Welcome to GamesGuide</h2>
                                <img class="card-img-top" src="">
                                <div class="image-flash">
                                    
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
                <!-- Top releases of the month column -->
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>Hottest Releases of the month</h2>
                            <ul>
                                {% for release in release_list %}
                                <li> {{ release.release_image }} {{ release.name }}
                                    {{ release.release_date }} {{ release.platform }}
                                </li>
                                <!-- Only allows an admin to edit and delete releases -->
                                {% if user.is_superuser %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Edit
                                    release</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="">Delete
                                    release</a>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article list column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top" src="">
                                {% else %}
                                <img class="card-img-top" src=" {{ article.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'article_detail' article.slug %}" class="">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ article.created_on}} <i class="far fa-thumbs-up"></i>
                                {{ article.number_of_likes }}</p>
                            <!-- Only allows an admin to edit and delete articles -->
                            {% if user.is_superuser %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                    href="{% url 'update_article' article.slug %}">Edit
                                    article</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                    href="{% url 'delete_article' article.slug %}">Delete
                                    article</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{%endblock%}