{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Articles Column -->
        <div class="col-12 mt-2 left">
            <div class="row">
                {% for article in article_list %}
                
                <div class="col-md-9">
                    <div class="card mb-9">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top"
                                    src="">
                                {% else %}
                                <img class="card-img-top" src=" {{ article.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="article-link">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ article.created_on}} <i class="far fa-heart"></i>
                                {{ article.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>Hottest Releases of the month</h2>
                                <ul>
                                    {% for release in release_list %}
                                    <li> {{ release.release_image }} {{ release.name }}
                                        {{ release.release_date }} {{ release.platform }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <hr />
                                
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %} -->
</div>
{%endblock%}