{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Welcome banner Column -->
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="review-card mb-12">
                        <div class="review-header">
                            <div class="title-wrapper">
                                <div class="sweet-title">
                                    <span class="header-one" data-text="GamesGuide">GamesGuide</span>
                                    <div class="header-two">
                                        <span class="header-two-text" data-text="Reviews">Reviews</span>
                                    </div>
                                </div>
                                <span class="top-title">Welcome to</span>
                                <span class="bottom-title">The hottest reviews of the latest titles, all in one place
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Review list column -->
        <div class="col-12 left">
            <div class="row">
                {% for review in review_list %}
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in review.image.url %}
                                {% load static %}
                                <img class="img-fluid rounded-img"
                                    src="{% static './images/default-review-image.jpg' %}"
                                    alt="Game Review image">
                                {% else %}
                                <img class="img-fluid rounded-img" src=" {{ review.image.url }}"
                                alt="Game Review image">
                                {% endif %}
                            </div>
                            <a href="{% url 'review_detail' review.slug %}" class="">
                                <h2 class="card-title">{{ review.title }}</h2>
                                <p class="card-text">{{ review.excerpt }}</p>
                                <div class="image-flash">
                                    <p class="author">Reviewed by: {{ review.reviewer }}</p>
                                </div>
                                <div class="image-flash">
                                    <p class="author">Final Score: {{ review.score }}</p>
                                </div>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ review.review_date}} <i class="far fa-thumbs-up"></i>
                                {{ review.number_of_likes }}</p>
                            <!-- Only allows an admin to edit and delete reviews -->
                            {% if user.is_superuser %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                href="{% url 'edit_review' review.slug %}">Edit
                                review</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1"
                                href="{% url 'delete_review' review.slug %}">Delete
                                review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{%endblock%}