{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Review heading section -->
                <h1 class="review-title">{{ review.title }}</h1>
                <p class="review-subtitle">{{ review.reviewer }} | {{ review.review_date }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- A chosen  default featured image -->
                {% if "placeholder" in review.image.url %}
                <img src="" width="100%">
                {% else %}
                <img src=" {{ review.image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The review content -->
                <p class="card-text ">
                    {{ review.content | safe }}
                </p>
                <p class="card-text">
                    Final Score: {{ review.score }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" 
                            action="{% url 'review_like' review.slug %}" method="POST">
                            {% csrf_token  %}
                            <!-- Displays a solid thumbs-up icon if liked by the user -->
                            {% if liked %}
                            <button type="submit" name="review_id" value="{{review.slug}}" class="btn-like"><i
                                    class="fas fa-thumbs-up"></i></button>
                            <!-- Displays a thumbs-up icon outline if the user has not clicked like -->
                            {% else %}
                            <button type="submit" name="review_id" value="{{review.slug}}" class="btn-like"><i
                                    class="far fa-thumbs-up"></i></button>
                            {% endif %}
                            </form>
                            {% else %}
                            <!-- Shows an empty icon outline if user is not authenticated -->
                            <span class="text-secondary"><i class="far fa-thumbs-up"></i></span>
                            {% endif %}
                            <!-- Displays number of likes with the thumbs-up icon -->
                            <span class="text-secondary">{{ review.number_of_likes }}</span>
                        </strong>
                        
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Displays total number of comments to the user -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Iterates through each comment in comments and 
                    displays each one that is approved -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    
                    
                    
                </div>
                <!-- Can edit or delete a comment if it's a registered user -->
                {% if user.is_authenticated and comment.name == user.username %}
                
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_review_comment' slug=review.slug id=comment.id %}">Edit
                    comment</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'erase_review_comment' slug=review.slug id=comment.id %}">Delete
                    comment</a>
                

                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- If a user comment has not been approved -->
                {% if commented %}
                <div id="msg" class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <!-- Can only leave a comment if a user has an account -->
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}